@font-face {
  font-family: "NeueHelveticaW01-79CmBold";
  src: url("https://db.onlinewebfonts.com/t/9e860986b7adde47ca5d9cc67c9d3d73.eot"); /* IE9*/
  src: url("https://db.onlinewebfonts.com/t/9e860986b7adde47ca5d9cc67c9d3d73.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://db.onlinewebfonts.com/t/9e860986b7adde47ca5d9cc67c9d3d73.woff2")
      format("woff2"),
    /* chrome firefox */
      url("https://db.onlinewebfonts.com/t/9e860986b7adde47ca5d9cc67c9d3d73.woff")
      format("woff"),
    /* chrome firefox */
      url("https://db.onlinewebfonts.com/t/9e860986b7adde47ca5d9cc67c9d3d73.ttf")
      format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url("https://db.onlinewebfonts.com/t/9e860986b7adde47ca5d9cc67c9d3d73.svg#NeueHelveticaW01-79CmBold")
      format("svg"); /* iOS 4.1- */
}

.Neue-compressed-font {
  font-family: "NeueHelveticaW01-79CmBold", "SFNA Display", "Helvetica",
    sans-serif;
}

#root {
  height: 100vh;
  width: 100%;
}

.text-gold {
  color: #e6a836;
}
